{% extends 'layout.html' %}

{% block container %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                Register
            </div>
            <div class="card-body">
                <form id="register_form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="username">Username</label>
                            <input type="text" id="username" class="form-control" name="username" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="role">Role</label>
                            <input type="text" class="form-control" name="role" id="role" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phone_number">Phone Nubmer</label>
                            <input type="text" id="phone_number" class="form-control" name="phone_number" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" name="password" autocomplete="new-password" required>
                    </div>
                    <div class="form-group">
                        <label for="password2">Verify Password</label>
                        <input type="password" id="password2" class="form-control" name="password2" autocomplete="new-password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            <div class="card-footer">
                <a href="/auth/login-page">Already have an account?</a>
            </div>
        </div>
    </div>
{% endblock %}